<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
  <tr>
    <th> Job Name</th>
    <th> Counts </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @groups.count.each do |k,v|%>
      <tr>
        <td><%= link_to k, group_jobs_path(name: k) %></a></td>
        <td><%= v %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
